In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="1234",
)

mycursor = mydb.cursor()
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002D5E3576D60>

In [2]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Employee_Accounts")

In [3]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
    print(entry)

('db',)
('doctors1',)
('employee_accounts',)
('information_schema',)
('internship',)
('ip',)
('mydatabase',)
('mysql',)
('nothing',)
('performance_schema',)
('student_data',)
('sys',)

In [4]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="1234",
  database="employee_accounts"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE Employee (emp_id INT , EMP_NAME VARCHAR(255),EMP_SALARY DOUBLE )")

In [5]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('employee',)

In [6]:

dbse = mydb.cursor()

dbse.execute("SHOW COLUMNS FROM employee")

for value in dbse:
  print(value)

('emp_id', b'int', 'YES', '', None, '')
('EMP_NAME', b'varchar(255)', 'YES', '', None, '')
('EMP_SALARY', b'double', 'YES', '', None, '')

In [7]:
dbse = mydb.cursor()

sql = "INSERT INTO employee (emp_id , EMP_NAME , EMP_SALARY) VALUES (%s,%s,%s)"
val = [
  ('1','deepak','945.0'),
    ('2','vishnu','263.0'),
    ('3','manoj','695.0'),
    ('4','raj','854.0'),
    ('5','kumar','263.0')   
]

dbse.executemany(sql, val)

mydb.commit()

print(dbse.rowcount, "was inserted.")

5 was inserted.

In [8]:

mycursor = mydb.cursor()

mycursor.execute("SELECT emp_id,EMP_SALARY FROM employee where EMP_SALARY = (select max(EMP_SALARY) from employee)")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 945.0)

In [9]:
mycursor = mydb.cursor()

mycursor.execute("SELECT emp_id,EMP_SALARY FROM employee where EMP_SALARY = (select min(EMP_SALARY) from employee)")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(2, 263.0)
(5, 263.0)

In [10]:
mycursor = mydb.cursor()

mycursor.execute("SELECT COUNT(*) from employee")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(5,)

In [11]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * from employee WHERE EMP_NAME LIKE('kum%')")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(5, 'kumar', 263.0)